{% extends 'layout.html' %}
{% load static %}
{% block style %}{% static 'summarize_view/css/search.css' %}{% endblock %}
{% block content_main %}
    <div class="file-cards">
        <div class="file-card">
            <h3>Название файла: <a href="{% url 'file-download' sum_text.file_id %}">{{ sum_text.filename }}</a></h3>
            <h5>Реферированный текст (ключевые слова): {{ sum_text.key_words }}</h5>
            <h5>Реферированный текст (классическое): {{ sum_text.sum_text_standart }}</h5>
            <h5>Реферированный текст (машинное обучение): {{ sum_text.sum_text }}</h5>
            <div class="download-button-container">
                <a href="{% url 'file-download-json' %}" class="print-button">
                    <i class="bi bi-download"></i>
                </a>
                <a onclick="handlePrint()" class="print-button">
                    <i class="bi bi-printer"></i>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const handlePrint = () => {
            var printButtons = document.getElementsByClassName('print-button');
            for (var i = 0; i < printButtons.length; i++) {
                printButtons[i].style.display = 'none';
            }
            var style = document.createElement('style');
            style.innerHTML = '@media print { body { width: 150%; } }';
            document.head.appendChild(style);
            window.print();
            document.head.removeChild(style);
            for (var i = 0; i < printButtons.length; i++) {
                printButtons[i].style.display = 'inline-block';
            }
        }
    </script>
{% endblock %}