{% extends 'layout.html' %}
{% load static %}
{% block style %}{% static 'lang_view/css/search.css' %}{% endblock %}
{% block content_main %}
    <div class="file-cards">
        <div class="file-card">
            <h3>Название файла: <a href="{% url 'file-download' language.file_id %}">{{ language.filename }}</a></h3>
            <h5>Определенный язык файла: {{ language.text_language }}</h5>
            <h5>Метод определения языка: {{ method }}</h5>
            <h6>Статистика по всем файлам:</h6>
            <ul>
                <li>Время затраченное на алфавитный метод: {{ statistic.alphabet_time }}</li>
                <li>Время затраченное на метод коротких слов: {{ statistic.short_time }}</li>
                <li>Время затраченное на нейросетевой метод: {{ statistic.neuro_time }}</li>
                <li>Процент русского языка: {{ statistic.russian_percent }}</li>
                <li>Процент английского языка: {{ statistic.english_percent }}</li>
            </ul>
            <div class="download-button-container">
                <a href="{% url 'file-download-json' %}" class="print-button">
                    <i class="bi bi-download"></i>
                </a>
                <a onclick="handlePrint()" class="print-button">
                    <i class="bi bi-printer"></i>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const handlePrint = () => {
            var printButtons = document.getElementsByClassName('print-button');
            for (var i = 0; i < printButtons.length; i++) {
                printButtons[i].style.display = 'none';
            }
            window.print();
            for (var i = 0; i < printButtons.length; i++) {
                printButtons[i].style.display = 'block';
            }
        }
    </script>
{% endblock %}